/*GLOBAL*/


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	position: relative;
    background-color: white;
}

html,
body {
    width: 100%;
    height: 100%;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
}

header li {
  display: inline-block;
  padding-right: 15px; 
}

header {
  position: relative;
  border-bottom: 2px solid gray;
  text-align: right;
  background-color: black;
  padding-bottom: 20px;
  font-family: Courier;
}

.logo {
  position: absolute;
  left: 10px;
  top: 20px;
  }

nav a {
  font-family: Helvetica;
  font-size: 2em;
  color: white;
  text-decoration: underline;
}

h2 {
  font-family: Helvetica;
  font-size: 2em;
  color: white;
  text-decoration: none;
}

h3, h3 > a {
  font-family: Helvetica;
  font-size: 1em;
  color: black;
}

a:hover {
  color: gray;

}

div.pic {
    display: block;
    height: 100px;
    text-align: center;

}

div.scene1 {
    display: block;
    text-align: center;
    width: 100%;
    height: 340px;


}
  



/*Grid Stuff*/
.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.column {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.response2 {
  display: none;
}

@media (min-width: 769px) {

 .column.one-half      { width: 50%; }

}

@media (max-width: 768px) {
  nav a {
  font-size: 1em;
  }

  h2 {
    font-size: 1em;
  }

  header li {
  display: block;
  padding-left: 100px; 
  text-align: left;
  }

  .response1 {
  display: none;
  }

  .response2 {
    display: block;
  }


}



div.center {
  text-align: center;
}



/*Nav Bar Styles and Content*/













/*
 * Add as many @media query break points as you like, trying to keep in mind common device screen widths.



