html {
  position: relative;
  min-height: 100%;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #c6e3ff;
}

body.black {
  /* Margin bottom by footer height */
  background-image: url(../img/navbackground.jpg);
}

a.brand {
  color: #00cae4;
  font-size: 2em;
  position: absolute;
  margin-left: 90px;
  margin-top: 25px;
}

h2.cream {
  color: #fffcf9;
  font-size: 1.5em;
}


.prophet {
  width: auto;
  height: 100vh;
  background-image: url(../img/DavidJuniorProphet.jpg);
    background-size: cover;                  
    background-repeat: no-repeat;
    background-position: center top; 
}

.starry {
  width: auto;
  height: 100vh;
  background-image: url(../img/starry.jpg);
    background-size: cover;                  
    background-repeat: no-repeat;
    background-position: center top; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  left: -15px;
  background-image: url(../img/navbackground.jpg);
}

.footer1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  left: -15px;
  background-color: transparent; 
}



.wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto 0px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.push {
  height: 60px;

}

.response2 {
  display: none;
}

.response3 {
  display: none;
}

.col-sp {
  padding-bottom: 20px;
}


.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:focus,.btn-linkedin.focus{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:hover{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.btn-linkedin:active:hover,.btn-linkedin.active:hover,.open>.dropdown-toggle.btn-linkedin:hover,.btn-linkedin:active:focus,.btn-linkedin.active:focus,.open>.dropdown-toggle.btn-linkedin:focus,.btn-linkedin:active.focus,.btn-linkedin.active.focus,.open>.dropdown-toggle.btn-linkedin.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled.focus,.btn-linkedin[disabled].focus,fieldset[disabled] .btn-linkedin.focus{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-linkedin .badge{color:#007bb6;background-color:#fff}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
}

.footer > .container > h1 {
  display: inline;
  color: #dc7b7b;
  font-size: 1.5em;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .footer > .container > h1 {
    font-size: 1.0em;
    margin-right: 15px;
  }

a.brand {
  font-size: 1.5em;
	}
}

@media (max-width: 815px) {
.response1 {
  display: none;
}

.response2 , .response3 {
	display:inherit;
}

    
}

code {
  font-size: 80%;
}